.subscribe.container
  .subscribe__info
    .subscribe__title Успей купить!
    .subscribe__desc Подпишись и успей словить все акции
  form(method="post" class="form subscribe-form j-subscribe")
    .form__group.subscribe__form-group
      input(id="subscribe__email" class="subscribe__email" type="email" name="email" placeholder="E-mail" required pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/")
      label(for="subscribe__email" class="visually-hidden") Введите e-mail
      label.check.subscribe__checkbox подписаться на новости
        input(id="agreement" type="checkbox" name="agreement" class="check__input visually-hidden")
        span.check__box
    .subscribe__btn-wrap
      button(type="submit" class="btn subscribe-btn hvr-sweep-to-right") Отправить
  .result