.btn {
  padding: 16px 55px;

  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  border: none;
  border-radius:  $border-radius;
  cursor: pointer;

  @include media(ms, max) {
    width: 100%;
  }
}

.hvr-sweep-to-right {
  position: relative;
  transform: translateZ(0);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #24809c;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}

.favorite-btn {
  position: absolute;
  top: 20px;
  right: 17px;
  height: 18px;
  width: 19px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover {
    .icon__star {
      color: $secondary;
      stroke: $secondary;
    }
  }
}

.icon__star {
  width: 19px;
  height: 19px;
  color: #fff;
  stroke: #d5d5d5;
  transition: fill .3s ease;
}