textarea,
input {
  padding: 15px 24px;

  color: $blue;
  font-size: 18px;

  border: none;
  border-radius:  $border-radius;

  @include media(ms, max) {
    width: 100%;
  }
}

.check {
  display: block;
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
}

.check__input {
  &:hover,
  &:focus,
  &:checked {
    &  ~ .check__box:after {
      display: block;
    }
  }

  &:focus + .check__box {
    box-shadow: 0 0 0 0.2em $secondary-hover;
  }
}

.check__box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.1em;
  height: 1.1em;
  background-color: #fff;
  border-radius: $border-radius;
  overflow: hidden;
  transform: translateY(-50%);

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid $blue;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
  }
}