body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background-color: #faf9ef;

  &.is-fixed {
    position: fixed;
    width: 100%;

    .main {
      margin-top: 68px;

      @include media(md) {
        margin-top: 83px;
      }
    }
  }
}

h1 {
  margin: 1.1em 0;
  font-size: 30px;
  line-height: 1.15;

  @include media(sm) {
    font-size: 48px;
  }
}

.hidden {
  display: none !important;
}

.ov-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}