* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;

  @include media(lg) {
    padding-left: 105px;
    padding-right: 105px;
  }
}
