extends templates/layout

block variables
    - var title = 'Поиск квартир'

block content
    section.search-result
        .container
            h1 Найдено 666 квартир
        .search-result__cards.container
            .search-result__sorter
                span.sorter__label Сортировать по:
                ul.sorter__list
                    li.sorter__item
                        button(data-sort="price" aria-label="Сортировать цену по возрастанию" class="sorter__sort")
                            span.sorter__title Цене
                            span.sorter__sort-arrow
                                +icon('sort-arrow')
                    li.sorter__item()
                        button(data-sort="rooms" aria-label="Сортировать комнаты по возрастанию" class="sorter__sort")
                            span.sorter__title Комнатам
                            span.sorter__sort-arrow
                                +icon('sort-arrow')
            .search-result__cards-wrap
                - for (var i = 0; i < 12; i++)
                    +flat-card(flats[i])
            .search-result__info
                button.btn.search-result__more-results.hvr-sweep-to-right Показать еще
    include modules/subscribe/subscribe
    .backtotop