header.page-header
    .page-header__inner
        a(href="#").page-header__logo-link
            img(src="img/logo.svg" alt="Company logo").page-header__logo
        include ../menu/menu
        .page-header__contacts
            a.page-header__phone(href="tel:8888888898")
                span 8 888 88 88 98
                +icon('phone')
            div.page-header__phone-desc Звони скорее!
        .toggle-menu__hamburger
            span.toggle-menu__line
            span.toggle-menu__line
            span.toggle-menu__line
            span.toggle-menu__line


