.page-header__nav
  nav.main-nav
    ul.main-nav__list
        each item in ['Объекты', 'Компания', 'Как купить', 'Агентам', 'Регионам', 'Акции', 'Контакты']
          li.main-nav__item
            a(href="#").main-nav__link
              span= item

