.flat {
  position: relative;
  width: 100%;
  margin-bottom: 54px;

  @include media(sm, between) {
    width: 48%;
    margin-right: 4%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include media(md) {
    width: 30.76923%;
    margin-right: 3.84615%;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.flat-card {
  display: block;

  color: #333640;
  font-weight: 300;
  text-decoration: none;

  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius:  $border-radius;
  transition: box-shadow .2s ease;
  cursor: pointer;

  &--free {
    border-color: $primary;

    &:hover {
      box-shadow: 0 0 40px transparentize($primary, .8);
    }
  }

  &--booked {
    border-color: #a7a37e;

    &:hover {
      box-shadow: 0 0 40px transparentize(#a7a37e, .5);
    }
  }

  &--sold {
    border-color: #a1a1a1;

    &:hover {
      box-shadow: 0 0 40px transparentize(#a1a1a1, .5);
    }
  }
}

.flat-card__header {
  display: flex;
  flex-wrap: wrap;
  min-height: 39px;
  padding: 19px 17px 0 20px;
}

.flat-card__label {
  padding: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  background: #ff4444;
  border-radius:  $border-radius;
}

.flat-card__sale {
  margin-right: 20px;
}

.flat-card__body {
  padding: 8px 15px 8px 20px;

  @include media(md) {
    padding: 8px 15px 8px 50px;
  }
}

.flat-card__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 225px;
}

.flat-card__title {
  margin: 15px 0;

  color: $primary;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;

  @include media(sm) {
    min-height: 57px;
    font-size: 24px;
  }
}

.flat-card__param {
  display: flex;
  align-items: center;

  margin: 5px 0;

  line-height: 1;
}

.flat-card__decoration {
  padding: 0 8px;

  color: $blue;
  font-size: 16px;

  border-left: 2px solid $blue;
}

.flat-card__price {
  margin: 30px 0;

  font-size: 24px;
  font-weight: bolder;
}

.flat-card__status {
  padding: 8px;

  color: #fff;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;

  &--free {
    background-color: $primary;
  }

  &--booked {
    background-color: #a7a37e;
  }

  &--sold {
    background-color: #a1a1a1;
  }
}