.search-result {
  margin-bottom: 56px;

  @include media(sm) {
    margin-bottom: 72px;
  }
}

.search-result__cards {
  padding-top: 24px;
  padding-bottom: 72px;
  background-color: #fff;

  @include media(ms, max) {
    padding-bottom: 56px;
    padding-right: 8.333335vw;
    padding-left: 8.333335vw;
  }
}

.search-result__sorter {
  margin-bottom: 32px;
  color: $primary;

  @include media(sm) {
    margin-bottom: 48px;
  }
}

.sorter__label {
  @include media(ms, max) {
    display: none;
  }
}

.sorter__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorter__item {
  display: inline-block;
  margin-left: 20px;

  @include media(ms, max) {
    &:first-child {
      margin-left: 0;
    }
  }
}

.sorter__sort {
  display: inline-flex;
  align-items: center;
  padding: 0;

  background: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    .sorter__title {
      border-bottom-color: $primary;
    }
  }
}

.sorter__title {
  padding: 4px 0;
  border-bottom: 1px dotted transparent;
}

.sorter__sort-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin-left: 8px;

  background: #f5f8f8;
  border-radius: 50px;

  &--asc {
    .icon__sort-arrow {
      transform: rotate(180deg);
    }
  }
}

.icon__sort-arrow {
  width: 8px;
  height: 5px;
  color: $blue;
}

.search-result__cards-wrap {
  display: flex;
  flex-wrap: wrap;
}

.search-result__more-results {
  display: block;
  width: 530px;
  max-width: 100%;
  margin: 0 auto;
  padding: 26px 50px;

  font-size: 14px;
  background: $blue;
}
