.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
  padding: 24px;

  color: #fff;
  background-color: $blue;

  @include media(md) {
    justify-content: space-between;
    padding: 55px;
  }
}

.subscribe__info {
  margin-bottom: 32px;
  text-align: center;

  @include media(md) {
    padding-right: 20px;
    text-align: left;
  }

  @include media(md) {
    margin-bottom: 0;
  }

  @include media(lg) {
    width: 44%;
  }
}

.subscribe__title {
  font-size: 34px;
  font-weight: 600;
}

.subscribe__desc {
  @include media(lg) {
    font-size: 18px;
  }
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  @include media(md) {
    justify-content: flex-start;
    width: initial;
  }

  @include media(lg) {
    width: 56%;
  }
}

.subscribe__form-group,
.subscribe__btn-wrap {
  @include media(ms) {
    padding: 0 15px;

  }

  @include media(lg) {
    padding: 0 29px;
  }
}

.subscribe__form-group {
  @include media(xs) {
    width: 100%;
  }

  @include media(ms, max) {
    margin-bottom: 32px;
  }

  @include media(lg) {
    width: 58%;
  }
}

.subscribe__email {
  width: 100%;
  margin-bottom: 12px;
}

.subscribe__checkbox {
  display: flex;
  white-space: nowrap;

  label {
    padding-left: 10px;
  }
}

.subscribe__btn-wrap {
  min-width: 248px;

  @include media(xs) {
    width: 100%;
  }

  @include media(lg) {
    width: 42%;
  }
}

.subscribe-btn {
  background: $secondary;

  &::before {
    background: #b7b068;
  }

  @include media(sm) {
    margin-bottom: 16px;
  }
}